body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* Putih */
    color: #333333; /* Abu-Abu Tua */
}

header {
    background-color: #FFFFFF; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #F4EAD2; /* Krem Terang */
    padding: 50px 20px;
    text-align: center;
}

.cta-button {
    background-color: #BE1E2D; /* Merah Cerah */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #18727D; /* Hijau Tosca */
}

.about-section {
    background-color: #F4EAD2; /* Krem Terang */
    padding: 20px;
    margin: 20px 0;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.service {
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333333; /* Abu-Abu Tua */
    color: white;
}
